body {
      min-width: 1040px;
      margin: 0;
      padding: 0;
      font-family: Tahoma, sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
}

.container {
      width: 1040px;
      margin: 0 auto;
      padding: 0 10px;
}

.main-header {
      padding-top: 32px;
      padding-bottom: 79px;
      background-color: #6451d5;
}

.main-menu .learning-programm {
      font-weight: bold;
      color: red;
}

.header-top {
      margin-bottom: 100px;
}

.header-top::after {
      display: table;
      clear: both;
      content: "";
}

.logo {
      float: left;
      height: 100px;
      width: 182px;
}

.logo img {
      display: block;
}

.main-menu {
      float: right;
      height: 40px;
      width: 670px;
      margin-top: 25px;
}

.main-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
}

.main-menu li {
      display: inline-block;
      vertical-align: top;
      margin-right: 46px;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      font-family: Trebuchet MS, sans-serif;
}

.main-menu li:last-child {
      margin-right: 0;

}

.main-menu a {
      text-decoration: none;
      color: #ffffff;
}

.main-menu a:hover {
      text-decoration: underline;
}

.main-menu a:active {
      text-decoration: none;
      opacity: 0.3;
}

.promo {
      position: relative;
      z-index: 10;
      width: 424px;
}

.promo-title {
      margin-bottom: 50px;
      text-transform: none;
      line-height: 50px;
      font-size: 45px;
      font-weight: bold;
      font-family: Trebuchet MS, sans-serif;
      color: #ffffff;
}

.promo p {
      width: 305px;
      margin-bottom: 55px;
      line-height: 30px;
      font-size: 18px;
      color: #bcb3f2;
}

.promo::after {
      position: absolute;
      content: "";
      z-index: -1;
      top: -10px;
      left: 379px;
      width: 652px;
      height: 450px;
      background-image: url("../img/promo.png");
      background-repeat: no-repeat;
}

.btn {
      display: inline-block;
      line-height: 24px;
      vertical-align: top;
      text-align: center;
      background-color: #382d78;
      color: #ffffff;
      font-size: 20px;
      font-family: Trebuchet MS, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      outline: none;
      border: none;
}

.promo .btn {
      padding: 25px 0;
      width: 320px;
}

.btn:active {
      color: #bcb3f2;
}

.features {
      padding-top: 142px;
      padding-bottom: 48px;
      background-color: #efefef;
}

.features-title {
      margin: 0;
      margin-bottom: 25px;
      font-size: 22px;
      line-height: 24px;
      font-family: Trebuchet MS, sans-serif;
      text-align: center;
      font-weight: bold;
}

.features .container::after {
      display: table;
      clear: both;
      content: "";
}

.features-item {
      position: relative;
      float: left;
      width: 320px;
      min-height: 100px;
      margin-right: 30px;
}

.features-item p {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      font-family: Tahoma, sans-serif;
      text-align: center;
      color: #555555;
}

.features-item:last-child {
      margin-right: 0;
}

.features-icon {
      position: absolute;
      left: 124px;
      bottom: 123px;
      width: 73px;
      height: 67px;
      background-image: url("../img/icon1.png");
      background-repeat: no-repeat;
      background-position: center;
}

.features-item .features-icon-practice{
      background-image: url("../img/icon2.png");
}

.features-item .features-icon-work{
      background-image: url("../img/icon3.png");
}

.learning-form {
      padding-top: 55px;
      padding-bottom: 72px;
}

.learning-form .learning-form-title {
      margin: 0;
      margin-bottom: 55px;
      min-height: 50px;
}

.learning-form table {
      height: 275px;
      border: 2px solid #a7a7a7;
      border-collapse: collapse;
}

.learning-form th {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
    text-align: left;
    padding-left: 31px;
    border: 2px solid #a7a7a7;
    background-color: #efefef;
}

.learning-form tr {
    margin: 0;
    border: 2px solid #a7a7a7;
}

.learning-form td {
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-left: 31px;
    border: 2px solid #a7a7a7;
}

.contacts {
      padding-top: 55px;
      padding-bottom: 75px;
      background-color: #efefef;
}

.contacts .contacts-title {
      margin: 0;
      margin-bottom: 61px;
      line-height: 50px;
      font-family: Trebuchet MS, sans-serif;
      font-size: 45px;
      line-height: 50px;
}

.contacts .contacts-form{
      float: left;
      width: 670px;
      height: 341px;
      margin-right: 30px;

}

.contacts .title {
      width: 94px;
      padding-right: 12px;
      padding-top: 10px;
      text-align: right;
      vertical-align: top;
      font-family: Trebuchet MS, sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
}

.contacts .title-sex {
      width: 94px;
      padding-right: 12px;
      padding-top: 0;
      text-align: right;
      vertical-align: top;
      font-family: Trebuchet MS, sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;

}

.contacts .field {
      width: 510px;
      height: 52px;

}

.contacts-form textarea{
      min-height: 100px;
      resize: none;
}

 input[type="text"]::-webkit-input-placeholder {
      color:#000;
 }

 textarea::-webkit-input-placeholder {
      color:#000;
 }

#man,
#woman{
      margin-right: 30px;
}

#woman{
      margin-left: 64px;
}

.contacts-form input[type="text"],
.contacts-form textarea {
      width: 100%;
      padding: 10px 16px 13px 16px;
      border: 2px solid #a7a7a7;
      font-size: 18px;
      line-height: 24px;
      font-family: Tahoma, sans-serif;
      font-weight: normal;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      border-radius: 2px;

}
.contacts-form input[type="text"]:hover,
.contacts-form textarea:hover {
      border: 2px solid #6c6a75;
}

.contacts-form input[type="text"]:focus,
.contacts-form textarea:focus {
      border: 2px solid #6451d5;
}

.contacts td {
      padding-bottom: 31px;
}

.contacts-form .btn {
      width: 100%;
      padding: 22px 0 24px 0;
}

.contacts .contacts-instruction{
      float: right;
      width: 320px;
}

.contacts-instruction h3{
      margin: 0;
      margin-bottom: 28px;
      font-family: Trebuchet MS, sans-serif;
      font-size: 22px;
      line-height: 30px;
      font-weight: bold;
}

.contacts-instruction p{
      margin: 0;
      margin-bottom: 27px;
      font-size: 18px;
      line-height: 24px;
      font-family: Tahoma, sans-serif;
      font-weight: normal;
      color: #555555;
}

.contacts-instruction .contacts-alert {
      margin-top: 42px;
      margin-bottom: 0;
      width: 250px;
}

.contacts .container::after {
      display: table;
      clear: both;
      content: "";
}

.main-footer {
      padding-top: 65px;
      padding-bottom: 90px;
      background-color: #2a2546;
      color: #fff;
      line-height: 24px;

}
.main-footer .footer::after{
      display: table;
      content: "";
      clear: both;
}

.main-footer .footer-address {
      float: left;
      width: 235px;
      margin-right: 106px;
}

.main-footer .footer-menu{
      float: left;
      margin-top: 25px;
      width: 180px;
      min-height: 175px;
}

.main-footer .footer-menu ul {
      padding: 0;
      margin: 0;
      list-style: none;
}

.main-footer .footer-menu h3 {
      margin:0;
      margin-bottom: 34px;
      font-size: 19px;
      line-height: 24px;
      font-family: Tahoma, sans-serif;
      font-weight: bold;
}

.main-footer .footer-menu li {
      margin-bottom: 29px;
}

.main-footer .footer-menu a {
      font-size: 18px;
      line-height: 24px;
      font-family: Tahoma, sans-serif;
      font-weight: normal;
      color: #bcb3f2;
      text-decoration: none;
}

.main-footer .footer-menu:last-child{
      float: right;
      width: 136px;
}

.footer-address .logo {
      float: none;
      margin: 0;
      margin-bottom: 81px;
}

.footer-address p {
    font-size: 18px;
    line-height: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: normal;
}
